@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@if (IsPost)
{
    <script>
        alert('@ViewBag.message');
    </script>
}

<script>
    $("#ExcelSource").addClass("active");
    //$(document).ready(function () {
    //    $.ajax({
    //        type: 'get',
    //        dataType: 'json',
    //        url: '../ExcelReader/AccountList',
    //        async: false,
    //        success: function (data) {
    //            //var s = '<option value="0">--Choose Organisation--</option>';
    //            $("#Organisation").empty();
    //            s = "";
    //            for (var i = 0; i < data.length; i++) {
    //                s += '<option value="' + data[i].accountName + '">' + data[i].accountName + '</option>';
    //            }
    //            $("#Organisation").append(s);
    //        }
    //    });
    //});



    function check() {
        console.log($('input[name$="Excel"]').val());
        var a = $('input[name$="Excel"]').val();
        var b = $('input[name$="Zip"]').val();
        if (a != '') {
            var x = a.split('\\');
            console.log(x);
            $('#ex').html(x[2]);
        }
        /*     if (b != '') {
                 var x = b.split('\\');
                 console.log(x);
                 $('#zp').html(x[2]);
             }*/
        if (($('input[name$="Excel"]').val() == '')/* || ($('#Organisation').val() == 0)|| ($('#DestionationProj').val() == 0)*/) {
            document.getElementById("submit").disabled = true;
            return;
        }
        document.getElementById("submit").disabled = false;
    }


    @*function populateProjects() {
        var o = document.getElementById("Organisation");
        var ORG = o.options[o.selectedIndex].text;
        if (ORG == "--Choose Organisation--") {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("ProjectList", "ExcelReader")',
            data: { ORG },

            success:
                function(data) {
                    console.log(data);
                    document.getElementById("DestionationProj").innerHTML = "<option value='0'>select</option>";
                    for (let i = 0; i < data.length; i++) {
                        document.getElementById("DestionationProj").innerHTML += "<option value='" + data[i].Name + "'>" + data[i].Name + "</option>";
                    }
                }
            ,
            failure:
                function() { alert("Something went wrong, Please try Again"); }

        });

    }*@
</script>
@using (Html.BeginForm("ReadExcelFile", "ExcelReader", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div style="margin-left:100px;margin-top:20px;">
        <div class="jumbotron">
            <p class="lead">Please select excel file from which you want migrate...</p>

            <div class="form-row">
                <label id="ex" class="btn btn-success" for="Excel">Choose Excel</label>
                <input id="Excel" type="file" name="Excel" data-max-size="321540" accept=".xls,.xlsx" style="display:none" onchange="check()" />
            </div>
            <br />

            <div>
                <button id="submit" class="btn btn-info">Submit</button>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="col-sm-12" style="background-color:#ffaeae">
                <span style="color:#b71616">@ViewBag.ErrorMessage</span>
            </div>
        }
    </div>

}


