@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@if (IsPost)
{
    <script>
        alert('@ViewBag.message');
    </script>
}
<script>
    function check() {
        console.log($('input[name$="Excel"]').val());
        var a = $('input[name$="Excel"]').val();
        var b = $('input[name$="Zip"]').val();
        if (a != '') {
            var x = a.split('\\');
            console.log(x);
            $('#ex').html(x[2]);
        }
        /*     if (b != '') {
                 var x = b.split('\\');
                 console.log(x);
                 $('#zp').html(x[2]);
             }*/
        if (($('input[name$="Excel"]').val() == '') || ($('#Organisation').val() == 0) || ($('#SourceProj').val() == 0) || ($('#DestionationProj').val() == 0)) {
            document.getElementById("submit").disabled = true;

            return;
        }
        document.getElementById("submit").disabled = false;
    }
</script>
@using (Html.BeginForm("ReadExcelFile", "ExcelReader", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="margin-left:100px;margin-top:20px;">
        <div class="form-row">
            <label id="ex" class="btn btn-success" for="Excel">Choose Excel</label>
            <input id="Excel" type="file" name="Excel" data-max-size="321540" accept=".xls,.xlsx" style="display:none" onchange="check()" />
        </div>
        <br/>
        <div class="form-row">
            <lable>Organisation:</lable><input id="Organisation" type="text" name="Organisation" onchange="check()" />
            <lable>PAT:</lable><input id="PAT" type="text" name="PAT" onchange="check()" />
        </div>
        <br/>
        <div class="form-row">
            <lable>Source Project:</lable><input id="SourceProj" type="text" name="SourceProj" onchange="check()" />
            <lable> Destination Project:</lable><input id="DestionationProj" type="text" name="DestionationProj" onchange="check()" />
        </div>
        <br />
        <br />
        <div>
            <button id="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
}



