
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>
@model MigratorAzureDevops.Models.sheetList

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>SheetsDrop</title>
    <style>
        .disabled {
            display: none;
        }

        #tableData {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            column-width: 25px;
        }

            #tableData td, #tableData th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #tableData tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #tableData tr:hover {
                background-color: #ddd;
            }

            #tableData th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4e4475;
                color: white;
            }
    </style>
</head>
<body>
    <div style="margin-left:100px;">
        <p id="status"></p>
        <div class="col-md-3 dropdowns" style="margin-left:10px;">
            <label>
                <b>
                    Sheet Names
                </b>
            </label>
            @Html.DropDownList("sheet", new SelectList(ViewBag.Selectlist, "Value", "Text"), "<select>", new { @class = "form-control", @id = "Sheets", onchange = "Tablechange()" })

        </div>
        <br />
        <div style="margin-top:50px;margin-left:25px;">
            <table class="table table-hover w-auto" id="tableData">
                <thead>
                    <tr id="rowValue">
                        @*<th>Environment Name</th>*@
                        <th class="th-lg" align="center">Excel Columns</th>
                        <th class="th-lg" align="center">Fields</th>
                    </tr>
                </thead>
                <tbody id="body">
                </tbody>
            </table>
        </div>
        
        <div style="margin-left:20px;">
            <input type="submit" value="Next" class="btn-primary" id="SubmitButton" onclick="showTableData()" style="margin-right:1220px;margin-left:7px" />
        </div>

    </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    var selectedSheet;
    function Tablechange() {
        var selectedSheet = $('#Sheets').val();
        var Dt = JSON.parse(selectedSheet);
        var FieledList = @Html.Raw(Json.Encode(ViewBag.fields));

        $("#table").empty();
        for (let key in Dt[0]) {
            if (Dt[0].hasOwnProperty(key)) {

                var row = "<tr ><td>" + key + "</td><td><select class='list' onchange='DropDownValue(this)'><option value='0'>--Ignore--</option>";
                for (let i = 0; i < FieledList.length; i++) {
                    console.log(FieledList[i].Text);
                    row += "<option value='" + FieledList[i].Text + "'>" + FieledList[i].Text + "</option>";
                }
                row += "</select></td></tr>";
                $("#tableData").append(row);
            }
        }
    }
    var currentval = "";
    function DropDownValue(changed) {
        $('.disabled').removeClass('disabled');
        var val = $(changed).val();

        var list = $('.list');
        var seletlist = [];
        for (let i = 0; i < list.length; i++) {
            var val = $(list[i]).val();
            if (val != '0') {
                seletlist[seletlist.length] = val;
            }
        }

        for (let i = 0; i < list.length; i++) {
            for (let j = 0; j < seletlist.length; j++) {
                var val = $(list[i]).val();
                if (val != seletlist[j]) {
                    var optionlist = $(list[i]).children();
                    for (let i = 0; i < optionlist.length; i++) {
                        if ($(optionlist[i]).val() == seletlist[j]) {
                            $(optionlist[i]).addClass('disabled');
                        }
                    }
                }
            }
        }

    }



    function showTableData() {
        //document.getElementById('info').innerHTML = "";
        var myTab = document.getElementById('tableData');
        var exportData = new Object;
        // LOOP THROUGH EACH ROW OF THE TABLE AFTER HEADER.
        for (i = 1; i < myTab.rows.length; i++) {
            // GET THE CELLS COLLECTION OF THE CURRENT ROW.
            var objCells = myTab.rows.item(i).cells;
            if ($(objCells.item(1).firstChild).val() != "0") {
                var key = (objCells.item(0).innerHTML);
                exportData[key] = $(objCells.item(1).firstChild).val();


                //console.log(obj);
                //exportData.push(obj);
            }
        }
        console.log(exportData);
        var myDictionary = exportData;
        //var selectedSheet = document.getElementById("Sheets");
        var SheetName = $("#Sheets").find("option:selected").text();

        $.ajax({
           type: "POST",
            url: '@Url.Action("createExcel", "ExcelReader")',
            data: { "FList": myDictionary, "SheetName": SheetName },


            success: function (data) {
                alert(data);
                $("#status").html = data;

            }

        });
        console.log(Response);
            ////ajax method
                 // ADD A BREAK (TAG)
    }
</script>
