

@{
    Layout = null;
}

<!DOCTYPE html>
@model MigratorAzureDevops.Models.sheetList

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SheetsDrop</title>
</head>
<body>
    <div>
        @foreach (var state in Model.Sheets)
        {
            <h2>@state</h2>
        }
    </div>
</body>
</html>
