
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <title>Verify</title>

</head>
<body>

    <div style="margin-left:150px;">
        <div class="header"><h2>Welcome</h2></div>
        <div class="info">
            <p>This wizard enables you to do the following:</p><br />

            <p>Migrate work item(s) from an Excel workbook into Azure work item(s). Supported work item types are Epic, User Story, Feature, Product Backlog Item, Task,Test Cases and Bugs.</p><br />

            @*<p>2. Migrate VS2005/VS2008 manual test cases templates from a Word/MHT document into a TFS test case work item."</p><br />*@
            <p>You can also save the settings, which capture the following information, for later use:</p><br />
            <ol>
                <li>Field Mappings</li>
                @*<li>Data Mappings</li>
                    <li>Link Mappings</li>
                    <li>Miscellaneous settings</li>*@
            </ol><br />
            <p>Check that your MS Office(Excel/Word) is version 2003 or greater.</p>
        </div>
        @*<div>
            <input type="button" value="Next" class="btn btn-info" onclick="location.href='@Url.Action("ReadExcelFile", "ExcelReader")'" />
        </div>*@
        
            <div class="text-center" style="margin-left:56%;margin-top:145px">
                <button class="btn btn-lg text-primary btn-block font-weight-light" id="signInWithVSTS" onclick="this.blur();">Sign In ></button>
            </div>
    </div>
    @*<h3 class="display-3 text-light my-5" style="padding-left:22%;font-size:35px"><span><img width="75" src="~/Content/Images/VS_logo.png" class="mr-3" /></span> Azure DevOps Custom Report</h3>*@

    @*<h4 class="display-4" style="padding-left:32%;font-size:30px">Please Sign-In to Continue</h4>*@
    @*<section class="section-1 d-flex flex-column">
        <main class="d-flex">
        </main>

    </section>*@
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('#signInWithVSTS').click(function () {
            window.location.href = "../Account/index";
        });


    });
</script>