@model MigratorAzureDevops.Models.ExcelModel
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="margin-top:50px;">
        @using (Html.BeginForm("Index", "ExcelReader", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Raw(ViewBag.Error)
            
                <span>Specify filepath for the Excel workbook</span><br />
            
            
                <input type="text" /> <input type="file" name="excelfile"/>
        
            <br />
            <input type="submit" value="Import" />
        }
    </div>
</body>
</html>
